/* @override http://localhost:8888/tumblr.com/dark_carton/styles.css */

@font-face
{
   font-family: "tumb";
   src: url("fonts/tumb.woff") format("woff"),
        url("fonts/tumb.ttf") format("truetype"),
}

body {
	background-image: url(http://static.tumblr.com/4cradrm/zRAknlgmt/body.jpg);
	margin: 0px;
	padding: 0px;


	
	font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
}
a {
	text-decoration: none;
	color: #3392fc;
	font-weight: bold;
}

a:hover {
	color: #fd469f;
}
div.holder {
	display: block;
	width: 960px;
	

}
.clear {
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;


}
#header {
	display: block;
	padding-left: 0px;
	margin-right: 0px;
	height: 200px;
	width: 100%;
	background: #f1f;
	position: fixed;
	z-index: 1;

	padding: 0px;
	margin: 0px;
}


#title {
	position: absolute;
	padding-left: 0px;
	margin-right: 0px;
	left: 330px;
	top: 150px;
	z-index: 0;
	font: 50px Georgia, "Times New Roman", Times, serif;
	width: 100%;
	overflow: hidden;
}
#avatar {
	margin: 5px;
	border-radius: 50%;
	width: 140px;
	height: 140px;

}	
#owner {
	position: absolute;
	border-radius: 50%;
	left: 120px;
	top: 100px;
	z-index: 1;
	background-color: #333;
	width: 150px;
	height: 150px;


	

}


#search {
	position: relative;
	width: 270px;
	height: 92px;
	background-image: url(http://static.tumblr.com/4cradrm/sLSknlgx4/search.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	margin: auto;
}

.overthetop, div#searchresults {
	width: 500px;
	display: block;
	margin: auto;
	margin-top: 20px;
	color: #000;
	text-shadow: 0px 1px 1px #444;
	font: italic 30px Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

#searchbox {
	display: block;
	position: absolute;
	left: 20px;
	top: 51px;
}

input#keywords.text {
	width: 230px;
	background-color: transparent;
	border: none;
	outline: none;
	height: 20px;
	color: #666;
	text-shadow: 0px -1px 1px #000;
	font-size: 14px;
}

#searchbox input.search {
	position: absolute;
	left: 95px;
	top: -28px;
	width: 40px;
	height: 26px;
	display: block;
	background: none;
	border: none;
	cursor: pointer;
}

#pagewrap {
	display: block;
	margin: auto;
	width: 100%;	
	margin-bottom: 100px;
	margin-top: 80px;

}
#footer {
	display: block;
	background-image: url(http://static.tumblr.com/4cradrm/D6mknlgp9/footer.jpg);
	background-repeat: repeat;
	min-height: 200px;
}

#buttons {
	display: block;
	margin-top: 20px;
}

#following-avatars img {
	border: 2px solid #3392fc;
	margin-right: 1px;
	margin-bottom: 1px;
}
#following-avatars img:hover {
	border: 2px solid #fd469f;
}
#footer div.col1 {
	display: block;
	font-size: 12px;
	line-height: 1.3em;
	width: 430px;
	float: left;
	padding: 25px;
	color: #666;
	text-shadow: 0px -1px 1px #000;
}
#footer div.col2 {
	display: block;
	font-size: 12px;
	line-height: 1.3em;
	width: 430px;
	float: left;
	padding: 25px;
	color: #666;
	text-shadow: 0px -1px 1px #000;
}

.footer_clear {
	display: block;
	height: 2px;
	overflow: hidden;
	clear: both;
	background-image: url(http://static.tumblr.com/4cradrm/HqJknlgq8/footer_line.png);
	background-repeat: repeat-x;
}
/*POSTS*/
.post {
	display: block;
	width: 550px;
	margin: auto;
	min-height: 65px;
	position: relative;
	background-image: url(http://static.tumblr.com/4cradrm/PVTknlgug/post_middle.jpg);
	background-repeat: repeat-y;
	padding-top: 25px;
	padding-bottom: 27px;
	margin-top: 50px;
}
.post .avatar {
	display: block;
	position: absolute;
	top: 0;
	height: 115px;
	width: 139px;
	background-repeat: no-repeat;
	background-position: left top;
}
.post.odd .avatar img {
	margin-left: 25px;
	margin-top: 25px;
}

.post.odd .avatar {
	left: -139px;
	background-image: url(http://static.tumblr.com/4cradrm/837knlgji/avatar_left.jpg);
}
.post.even .avatar {
	right: -139px;
	background-image: url(http://static.tumblr.com/4cradrm/ZcTknlgk7/avatar_right.jpg);
}
.post.even .avatar img {
	margin-left: 50px;
	margin-top: 25px;
}
.post .top {
	display: block;
	width: 550px;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
}
.post.odd .top {
	background-image: url(http://static.tumblr.com/4cradrm/4wTknlgv0/post_top_left.jpg);
}
.post.even .top {
	background-image: url(http://static.tumblr.com/4cradrm/aY8knlgw1/post_top_right.jpg);
}
.post .content {
	position: relative;
	display: block;
	width: 500px;
	margin:0 25px;
}
.post .bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(http://static.tumblr.com/4cradrm/pZ2knlgtv/post_bottom.jpg);
	background-repeat: no-repeat;
	display: block;
	height: 27px;
	width: 550px;
}
.post .notes {
	position: absolute;
	
	color: rgba(20,20,20,0.9);
	font-size: 15px;
	
	
	
	text-shadow: 0px -1px 1px #000;
	text-align: center;

	

}

/*
padding-left: 20px;
padding-top: 1px;
line-height: 1em;
bottom: -400px;
display: block;
*/


.post.odd .notes {
	left: 25px;
	background-color: #f2f5ff;
	border-radius: 5px;
	top: 300px;
	width: 70px;
	height: 28px;
	padding-top: 5px;

	


}
.post.even .notes {
	left: 25px;
	background-color: #f2f5ff;
	border-radius: 5px;
	top: 300px;
	width: 70px;
	height: 28px;
	padding-top: 5px;
	
}


.post .reblog {
	position: absolute;
	height: 40px;
	width: 540px;
	background-image: url();
	background-repeat: no-repeat;
	overflow: hidden;
	bottom: 0px;
	left: -45px;
	z-index: 9999;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 12px;
	color: #000;
	text-shadow: #fd5c56 0 1px 1px;
}

h3.title {
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	color: #f4f4f4;
	text-shadow: 0px -1px 1px #000;
	font: 35px/1.1em Georgia, "Times New Roman", Times, serif;
}

#footer h3.title {
	margin-left: 0;
	padding-left: 0;
	padding-bottom: 5px;
}

div.chat_lines {
	display: block;
	padding: 25px;
	font-size: 12px;
}
div.chat_line {
	background-image: url(http://static.tumblr.com/4cradrm/HqJknlgq8/footer_line.png);
	background-repeat: repeat-x;
	background-position: bottom;	
	display: block;	
	padding-bottom: 5px;
	padding-top: 5px;	
	text-shadow: 0px -1px 1px #000;		
}
div.chat_line.odd {
	color: #999;
}

div.chat_line.even {
	color: #666;
}

div.chat_line.even strong {
	color: #555;
}
div.chat_line.odd strong {
	color: #888;
}
.audio_player {
	display: block;
	background-color: #000;
	list-style-position: outside;
}

div.photo {
	position: relative;
	z-index: 0;
}
.postlink {
	background-image: url(http://static.tumblr.com/4cradrm/lSwknlgr5/link.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.postlink a{
	display: block;
	height: auto;
	padding: 25px;
	padding-left: 80px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 1px #000;
	font: 30px "Courier New", Courier, mono;
}
.postlink a:hover {
	background-image: url(http://static.tumblr.com/4cradrm/I1Vknlgmb/blue_trans.png);
}
div.quote {
	display: block;
	padding: 20px;
	color: #999;
	text-shadow: 0px -1px 1px #000;
	font: 30px/1.3em Georgia, "Times New Roman", Times, serif;
}
div.quote-source {
	display: block;
	text-align: right;
	padding: 20px;
	font-style: italic;
	color: #666;
	text-shadow: 0px -1px 1px #000;
	font-size: 13px;
}
div.caption {
	display: block;
	padding: 25px;
	font-size: 12px;
	line-height: 1.3em;
	color: #999;
	text-shadow: 0px -1px 1px #000;
}
div.caption.audio_cap {
	background-color: #111;
}

div.caption.photoset_cap,
div.caption.video_cap {
	display: block;
	background-image: url(http://static.tumblr.com/4cradrm/VOBknlgom/caption_extra.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 85px;
	position: relative;
	margin-left: -25px;
	width: 450px;
	padding-left: 50px;
	padding-right: 50px;
}
div.caption.photo_cap {
	width: 480px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(http://static.tumblr.com/4cradrm/zq7knlgl1/black_trans.png);
	padding: 10px;
	padding-bottom: 55px;
	border-top: 1px solid #111;
	color: #fff;
	z-index: 0;
}
div.text {
	display: block;
	padding: 25px;
	padding-bottom: 50px;
	font-size: 14px;
	line-height: 1.4em;
	color: #999;
	text-shadow: 0px -1px 1px #000;
}

ul.tags {
	position: relative;
	z-index: -1;
	display: block;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	list-style: none;	
	background-color: #161616;
	color: #444;
	height: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}
ul.tags li {
	display: inline;
	font-size: 0px;
	padding-left: 3px;
}

div.real_notes {
	display: block;	
	width: 850px;
	margin: auto;

}

ol.notes {
	list-style: none;
	margin: auto;
	padding: 0;
	display: block;
	width: 500px;
	font-size: 11px;	
}
ol.notes li {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	background-image: url(http://static.tumblr.com/4cradrm/HqJknlgq8/footer_line.png);
	background-position: left bottom;
	background-repeat: repeat-x;
	position: relative;
	min-height: 22px;
	text-shadow: 0px -1px 1px #000;	
	color: #999;
}

ol.notes li blockquote {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-left: 40px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}
ol.notes li blockquote a {
	color: #777;
	font-weight: normal;
	font-size: 13px;
}
ol.notes li blockquote a:hover {
	color: #d33921;
}
ol.notes li span.action {
	margin-left: 40px;
}
ol.notes li img {
	padding: 1px;
	background-color: #222;
	border: 1px solid #444;
	margin-right: 20px;
	position: absolute;
}

.post .open {
	display: block;
	position: absolute;
	background-image: url(http://static.tumblr.com/4cradrm/c6Aknlgsd/link_open.jpg);
	background-repeat: no-repeat;
	top: -1px;
	height: 60px;
	width: 130px;
	z-index: 0;
}
.post .goto {
	display: block;
	position: absolute;
	background-image: url(http://static.tumblr.com/4cradrm/moFknlgrt/link_goto.jpg);
	background-repeat: no-repeat;
	top: -1px;
	height: 60px;
	width: 130px;
	z-index: 0;
}
.post.odd .open,
.post.odd .goto {
	right: -135px;
}
.post.even .open,
.post.even .goto {
	left: -135px;
}
#pagination {
	display: block;
	width: 278px;
	height: 65px;
	margin: auto;
	position: relative;
	margin-top: 50px;
}
#pagination .button {
	display: block;
	position: absolute;
	height: 65px;
	width: 139px;
	top: 0px;
}
#pagination .button.left{
	background-image: url(http://static.tumblr.com/4cradrm/OY0knlgne/btn_left.jpg);
	left: 0px;
}
#pagination .button.right{
	background-image: url(http://static.tumblr.com/4cradrm/YpVknlgo5/btn_right.jpg);
	right: 0px;
}

/*

tweet button

*/
.twitter-share-button{
	margin-left: 26px;
	margin-top: 60px;

}

.fb-like{
	margin-left: 25px;
	margin-top: 10px;
	width: 50%;

}

/*

display:inline-block; text-indent:-9999px; overflow:hidden; width:70%px; height: 100%; background: red; border-radius: 3px; font-family "tumb" color: "blue" "1em" ;

*/

.tumbbuton{

	font-family: "tumb";
	font-size: 1.1em;
	background-color: #E6E9F3;
	border-radius: 5px;
	width: 100%;


	

}

a.tumbbuton{
	color: #365069;
	padding: 1px 10px 1px 10px;

}